composer install
npm install

extension for install handler of excel :
Install/enable GD
On XAMPP / Windows, edit php.ini and uncomment:

extension=gd

Then restart Apache / PHP-FPM.

Check with:

php -m | grep gd


After that, you can run:

composer require phpoffice/phpspreadsheet

alternative option :
composer require phpoffice/phpspreadsheet:^4.0

Then run:

composer dump-autoload